{% extends "base.html" %}

{% block title %}Two sides of a story{% endblock %}

{% block header_script %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/queue-async/queue.min.js') }}"></script>
<style>
	text {
		font-size: 10px;
	}

	.area, .brect {
		fill: #00A4E4;
		clip-path: url(#clip);
	}

	.bbrect{
		fill: #B30000;
		clip-path: url(#clip);
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.brush .extent {
		stroke: #fff;
		fill-opacity: .125;
		shape-rendering: crispEdges;
	}

	.restrict{
		height: 315px;
		overflow-x: hidden;
		overflow-y: scroll; 
	}

	.single-line{
		clear: both;
    	display: inline-block;
    	overflow: hidden;
    	white-space: nowrap;
    	max-width: 320px; 
    	text-overflow: ellipsis;
	}

	.min-height{
		min-height: 41px;
	}


</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-5">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" data-mode="social-shares" class="js-btn-mode btn btn-default active">Social Activity</button>
					<button type="button" data-mode="strength" class="js-btn-mode btn btn-default">Content Relation</button>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<select id="source-selector" class="form-control">
						<option value="All Sources">All Sources</option>
						<option value="Liberals">All Liberal Blogs</option>
						<option value="Conservatives">All Conservative Blogs</option>
					  	<option value="The New York Times">The New York Times</option>
					  	<option value="USA Today">USA Today</option>
					  	<option value="Time Magazine">Time Magazine</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<svg id="main-viz"></svg>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title single-line" id="article-title"></h6>
			</div>
			<div class="panel-body restrict" id="article-content"></div>

			<ul class="list-group">
				<li class="list-group-item min-height"><span class="label label-info hidden" id="article-liberal">Liberal</span> <span class="label label-danger hidden" id="article-conservative">Conservative</span></li>
				<li class="list-group-item min-height"><cite title="Source Title"><a target="_blank" id="article-link" href=""></a></cite> <small id="article-date"></small></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content_script %}
<script type="text/javascript">

	var margin = {top: 10, right: 10, bottom: 100, left: 60},
		margin2 = {top: 330, right: 10, bottom: 20, left: 60},
		width = 780 - margin.left - margin.right,
		height = 400 - margin.top - margin.bottom,
		height2 = 400 - margin2.top - margin2.bottom;

	var parseDate = d3.time.format("%Y-%m-%d").parse;

	var x = d3.time.scale().range([0, width]),
		x2 = d3.time.scale().range([0, width]),
		y = d3.scale.sqrt().range([height/2, 0]),
		by = d3.scale.sqrt().range([height/2, height]),
		y2 = d3.scale.sqrt().range([height2/2, 0])
		by2 = d3.scale.sqrt().range([height2/2, height2]);

	var xAxis = d3.svg.axis().scale(x).orient("bottom"),
		xAxis2 = d3.svg.axis().scale(x2).orient("bottom"),
		yAxis = d3.svg.axis().scale(y).orient("left").ticks(4),
		byAxis = d3.svg.axis().scale(by).orient("left").ticks(4);

	var brush = d3.svg.brush()
		.x(x2)
		.on("brush", brushed);


	var svg = d3.select("#main-viz")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom);

	svg.append("defs").append("clipPath")
		.attr("id", "clip")
		.append("rect")
		.attr("width", width)
		.attr("height", height);

	var focus = svg.append("g")
		.attr("class", "focus")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var context = svg.append("g")
		.attr("class", "context")
		.attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

	var date1, date2;

	var current_mode = $('.js-btn-mode').filter('.active').data('mode');

	var max_share_value, max_strength_value;

	var main_data, new_york_times, time, usa_today, conservative, liberal;
	var wall_street_journal = undefined;
	var restrictedFocus;
	var x_axis_svg, y_axis_svg, by_axis_svg, cx_axis_svg, cbrush;

	queue()
		.defer(d3.csv, "/static/data/presidential_elections/output.csv", type)
		.defer(d3.csv, "/static/data/presidential_elections/new_york_times.csv", type)
		.defer(d3.csv, "/static/data/presidential_elections/time.csv", type)
		.defer(d3.csv, "/static/data/presidential_elections/usa_today.csv", type)
		.defer(d3.csv, "/static/data/presidential_elections/conservative.csv", type)
		.defer(d3.csv, "/static/data/presidential_elections/liberal.csv", type)
		.await(dataLoaded);

	function dataLoaded(error, _main_data, _new_york_times, _time, _usa_today, _conservative, _liberal){
		main_data = _main_data;
		new_york_times = _new_york_times;
		time = _time;
		usa_today = _usa_today;
		conservative = _conservative;
		liberal = _liberal;
		loadMainViz(main_data, true);
	}

	// function onDataChange(data){
	// 	console.log(d3.max(data.map(function(d){ return d.liberal })));
	// 	max_liberal_share = d3.max(data.map(function(d){ return d.liberal }));
	// 	console.log(d3.max(data.map(function(d){ return d.liberal })));
	// 	max_conservative_share = d3.max(data.map(function(d){ return d.conservative }));
	// 	max_share_value = d3.max([ max_liberal_share, max_conservative_share ]);

	// 	max_strength_value = d3.max([
	// 		d3.max(data.map(function(d) { return d.liberal_strength; })), 
	// 		d3.max(data.map(function(d) { return d.conservative_strength; }))
	// 	]);

	// 	x.domain(d3.extent(data.map(function(d) { return d.date; }))).nice(d3.time.month);
	// 	// loadCurrentMode(current_mode);

	// 	y.domain([0.1, max_share_value]).nice().clamp(true);
	// 	by.domain(y.domain()).nice().clamp(true);
	// 	x2.domain(x.domain()).nice(d3.time.month);
	// 	y2.domain(y.domain()).nice().clamp(true);
	// 	by2.domain(y.domain()).nice().clamp(true);

	// }

	function loadMainViz(data, isFirstLoad){
		max_share_value = d3.max([
			d3.max(data.map(function(d) { return d.liberal; })), 
			d3.max(data.map(function(d) { return d.conservative; }))
		]);

		max_strength_value = d3.max([
			d3.max(data.map(function(d) { return d.liberal_strength; })), 
			d3.max(data.map(function(d) { return d.conservative_strength; }))
		]);

		var liberal_attr, conservative_attr, max_y_value;
		if(current_mode === "social-shares"){
			liberal_attr = "liberal";
			conservative_attr = "conservative";
			max_y_value = max_share_value;
		}else{
			liberal_attr = "liberal_strength";
			conservative_attr = "conservative_strength";
			max_y_value = max_strength_value;
		}

		x.domain(d3.extent(data.map(function(d) { return d.date; }))).nice(d3.time.month);
		y.domain([0.1, max_y_value]).nice().clamp(true);
		by.domain(y.domain()).nice().clamp(true);
		x2.domain(x.domain()).nice(d3.time.month);
		y2.domain(y.domain()).nice().clamp(true);
		by2.domain(y.domain()).nice().clamp(true);

		if(isFirstLoad){
			restrictedFocus = focus.append("g")
				.attr("class","area");	
		}
		
		var bar_data = restrictedFocus.selectAll(".bar").data(data);
		var bottom_bar_data = restrictedFocus.selectAll(".bbar").data(data);

		var bar =
			bar_data.enter().append("g")
	    		.attr("class", "bar")
	    		.attr("transform", function(d) { return "translate(" + x(d.date) + "," + y(d[liberal_attr]) + ")"; });
		bar_data.exit().remove();

		var bottomBar = 
			bottom_bar_data.enter()
				.append("g")
				.attr("class","bbar")
				.attr("transform", function(d) { return "translate(" + x(d.date) + ",0)"; });
		
		bottom_bar_data.exit().remove();

		date1 = data[0].date;
		date2 = data[1].date;

		var brect, bbrect;
		if(bar.select("rect")[0][0] != null){
			brect = d3.select(bar.select("rect")[0]);
		}else{
			brect = bar.append("rect");
		}

		if(bottomBar.select("rect")[0][0] != null){
			bbrect = d3.select(bar.select("rect")[0]);
		}else{
			bbrect = bottomBar.append("rect");
		}

		brect.attr("class","brect")
		    .attr("x", 0)
		    .attr("width", x(date2) - x(date1))
		    .attr("data-toggle", "tooltip")
			.attr("data-placement", "top")
			.attr("data-container", "body")
			.attr("title", function(d){
				return d.liberal_title;
			})
			.on("click", function(datum){
				loadData(datum, true);
			})
		    .on("mouseover", function(){
		    	d3.select(this).style("fill","#DDDDDD");
		    })
		    .on("mouseout", function(){
		    	d3.select(this).style("fill", "#00A4E4");
		    })
		    .attr("height", function(d) { return (height/2) - y(d[liberal_attr]); });

		bbrect.attr("class","bbrect")
			.attr("x", 0)
			.attr("y", height/2)
			.attr("width", x(date2) - x(date1))
			.attr("data-toggle", "tooltip")
			.attr("data-placement", "bottom")
			.attr("data-container", "body")
			.attr("title", function(d){
				return d.conservative_title;
			})
		    .on("click", function(datum){
				loadData(datum, false);
			})
		    .on("mouseover", function(){
		    	d3.select(this).style("fill","#DDDDDD");
		    })
		    .on("mouseout", function(){
		    	d3.select(this).style("fill", "#B30000");
		    })
			.attr("height", function(d) { 
		    	return by(d[conservative_attr]) - (height/2); 
		    });

		if(isFirstLoad){
			x_axis_svg = focus.append("g")
							.attr("class", "x axis")
							.attr("transform", "translate(0," + height + ")");
			y_axis_svg = focus.append("g")
							.attr("class", "y axis");
			by_axis_svg = focus.append("g")
							.attr("class", "by axis");
		}

		x_axis_svg.call(xAxis);
		y_axis_svg.call(yAxis);
		by_axis_svg.call(byAxis);

		var cbar_data = context.selectAll(".bar").data(data);
		var cbottombar_data = context.selectAll(".bbar").data(data);

		var cbar = cbar_data.enter().append("g")
		    .attr("class", "bar")
		    .attr("transform", function(d) { return "translate(" + x(d.date) + "," + y2(d[liberal_attr]) + ")"; });

		cbar_data.exit().remove();

		var cbottomBar = cbottombar_data.enter()
			.append("g")
			.attr("class","bbar")
			.attr("transform", function(d) { return "translate(" + x(d.date) + ",0)"; });

		cbottombar_data.exit().remove();

		var cbrect, cbbrect;
		if(cbar.select("rect")[0][0] != null){
			cbrect = d3.select(cbar.select("rect")[0]);
		} else {
			cbrect = cbar.append("rect");
		}

		if(cbottomBar.select("rect")[0][0] != null){
			cbbrect = d3.select(cbottomBar.select("rect")[0]);
		}else{
			cbbrect = cbottomBar.append("rect");
		}

		cbrect
			.attr("class","brect")
		    .attr("x", 0)
		    .attr("width", x(date2) - x(date1))
		    .attr("height", function(d) { return (height2/2) - y2(d[liberal_attr]); });

		cbbrect
			.attr("class","bbrect")
			.attr("x", 0)
			.attr("y", height2/2)
			.attr("width", x(date2) - x(date1))
		    .attr("height", function(d) { return by2(d[conservative_attr]) - height2/2; });

		if(isFirstLoad){
			cx_axis_svg = context.append("g")
							.attr("class", "x axis")
							.attr("transform", "translate(0," + height2 + ")");
			cbrush = context.append("g")
						.attr("class", "x brush")
						.call(brush)
						.selectAll("rect")
						.attr("y", -6)
						.attr("height", height2 + 7);
		}
		
		cx_axis_svg.call(xAxis2);
		$('[data-toggle="tooltip"]').tooltip();
	}

	function loadData(datum, isLiberal){
		var parseDate = d3.time.format("%Y-%m-%d");
		var _id = isLiberal? datum.liberal_file : datum.conservative_file;
		var title = isLiberal? datum.liberal_title : datum.conservative_title;

		$.ajax({
			url: "/site/get-article-content/"+ _id,
			dataType: "json",
			success: function(data){
				$('#article-title').text(title);
				$('#article-date').text(parseDate(datum.date));
				$('#article-content').text(data.content);
				$('#article-link').text(data.source);
				$('#article-link').attr("href",data.link);

				if(isLiberal){
					$('#article-liberal').removeClass('hidden');
					$('#article-conservative').addClass('hidden');
				}else{
					$('#article-liberal').addClass('hidden');
					$('#article-conservative').removeClass('hidden');
				}
			}
		});
	}

	$(function(){
		$('#source-selector').change(function(){
			var current_data = undefined;
			switch($(this).val()){
				case "All Sources":
					current_data = main_data;
				break;
				case "The New York Times":
					current_data = new_york_times;
				break;
				case "USA Today":
					current_data = usa_today;
				break;
				case "Time Magazine":
					current_data = time;
				break;
				case "Liberals":
					current_data = liberal;
				break;
				case "Conservatives":
					current_data = conservative;
				break;
			}

			if(current_data){
				//onDataChange(current_data);
				focus.selectAll('*').remove();
				context.selectAll('*').remove();
				loadMainViz(current_data, true);
			}
		});

		$(".js-btn-mode").click(function(){
			var required_mode = $(this).data('mode');
			if(current_mode !== required_mode){
				current_mode = required_mode;
				loadCurrentMode(required_mode);

				$('.js-btn-mode').removeClass('active');
				$(this).addClass('active');
			}
		});
	});

	function loadCurrentMode(required_mode){
		switch(required_mode){
			case 'social-shares':
				y.domain([0.1, max_share_value]).nice().clamp(true);
				by.domain(y.domain()).nice().clamp(true);
				y2.domain(y.domain()).nice().clamp(true);
				by2.domain(y.domain()).nice().clamp(true);
			break;
			case 'strength':
				y.domain([0.1, max_strength_value]).nice().clamp(true);
				by.domain(y.domain()).nice().clamp(true);
				y2.domain(y.domain()).nice().clamp(true);
				by2.domain(y.domain()).nice().clamp(true);
			break;
		}

		focus.select(".y.axis").call(yAxis);
		focus.select(".by.axis").call(byAxis);

		switch(required_mode){
			case 'social-shares':
				// focus.selectAll(".bar").transition().duration(300)
				// 	.attr("transform", function(d) { return "translate(" + x(d.date) + "," + y(d.liberal) + ")"; });
				// focus.selectAll('.brect').transition().duration(300)
				// 	.attr("height", function(d) { return (height/2) - y(d.liberal); })
				// focus.selectAll('.bbrect').transition().duration(300)
				// 	.attr("height", function(d) { return by(d.conservative) - (height/2);  })

				animateBars(focus, height, x, y, by, "date", "liberal", "conservative");
				animateBars(context, height2, x2, y2, by2, "date", "liberal", "conservative");
			break;
			case 'strength':
				// focus.selectAll(".bar").transition().duration(300)
				// 	.attr("transform", function(d) { return "translate(" + x(d.date) + "," + y(d.liberal_strength) + ")"; });
				// focus.selectAll('.brect').transition().duration(300)
				// 	.attr("height", function(d) { return (height/2) - y(d.liberal_strength); })

				// focus.selectAll('.bbrect').transition().duration(300)
				// 	.attr("height", function(d) { return by(d.conservative_strength) - (height/2);  })
				animateBars(focus, height, x, y, by, "date", "liberal_strength", "conservative_strength");
				animateBars(context, height2, x2, y2, by2, "date", "liberal_strength", "conservative_strength");
			break;
		}
	}

	function animateBars(element, height, x, y, y2, xAttr, yAttr, y2Attr){
		element.selectAll(".bar").transition().duration(300)
			.attr("transform", function(d) { return "translate(" + x(d[xAttr]) + "," + y(d[yAttr]) + ")"; });
		element.selectAll('.brect').transition().duration(300)
			.attr("height", function(d) { return (height/2) - y(d[yAttr]); })
		element.selectAll('.bbrect').transition().duration(300)
			.attr("height", function(d) { return y2(d[y2Attr]) - (height/2);  })
	}

	function brushed() {
		x.domain(brush.empty() ? x2.domain() : brush.extent());

		var yAttr = (current_mode === 'social-shares')? "liberal" : "liberal_strength";

		focus.selectAll(".bar").attr("transform", function(datum){
			return "translate("+ x(datum.date) + "," + y(datum[yAttr]) + ")"; 
		});
		focus.selectAll(".brect")
			.attr("width", x(date2) - x(date1))

		focus.selectAll(".bbar").attr("transform", function(datum){
			return "translate("+ x(datum.date) + ",0)"; 
		});
		focus.selectAll(".bbrect")
			.attr("width", x(date2) - x(date1))
		focus.select(".x.axis").call(xAxis);
	}

	function type(d) {
		d.date = parseDate(d.date);
		d.liberal = parseInt(d.liberal);
		d.conservative = parseInt(d.conservative);
		d.liberal_strength = parseFloat(d.liberal_strength);
		d.conservative_strength = parseFloat(d.conservative_strength);
		return d;
	}
</script>

{% endblock %}